amqp==5.2.0
asgiref==3.4.1
async-timeout==4.0.2
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.2
cffi==1.15.1
click==7.1.2
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==3.2.25
gevent==22.10.2
greenlet==2.0.2
importlib-metadata==4.8.3
kombu==5.1.0
packaging==21.3
prompt-toolkit==3.0.36
pycparser==2.21
pyparsing==3.0.7
pytz==2024.1
redis==4.3.6
selenium==3.141.0
sqlparse==0.4.4
typing_extensions==4.1.1
urllib3==1.26.18
vine==5.1.0
wcwidth==0.2.13
zipp==3.6.0
zope.event==4.6
zope.interface==5.5.2
