<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    {% if r1 %}
        <p>ID : {{ r1 }}</p>
    {% endif %}
    {% if data %}
        <p>Data = {{ data }} </p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="url" placeholder="enter url" name="url" required><br><br>
        <input type="submit" value="Click here">
    </form>
    <table border="1">
        <tr>
            <th>title</th>
            <th>price</th>
            <th>link</th>
        </tr>
        {% for d in books %}
        <tr>
            <td>{{ d.title }}</td>
            <td>{{ d.price }}</td>
            <td>{{ d.plink }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>